.idea
.DS_STORE
README.txt
LICENSE.txt
/joomla.xml
web.config.txt
cache/*
/installation
htaccess.txt
/configuration.php
database.sql
error_log
logs/*
/email/
/maintenance/
/tmp/*
/uploads/*
components/com_product/assets/upload/*
media/video/*