 {
	"name": "Product",
	"elements":  {
		"9e3a55c8-1464-41b0-8c8e-f4718a22538d":  {
			"name": "Quote and Chat",
			"description": "",
			"access": "1",
			"type": "buttons"
		},
		"e118f82d-db14-41d8-b086-75ce0390a022":  {
			"name": "",
			"description": "",
			"access": "1",
			"type": "parentcategory"
		},
		"f64a39d0-9b8f-4a84-ac90-19744a889cdb":  {
			"name": "Model Number",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"30ee11c5-0d02-424c-8ad5-dc6aa8f733ab":  {
			"name": "Resources",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"type": "link"
		},
		"4fbb144e-79cf-439a-8c3e-d89663c8131c":  {
			"name": "Features",
			"description": "Enter in the features of this item.",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"ea1e3fa3-e38d-440d-8ca0-e3a6ee0037cc":  {
			"name": "Description",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"246e955a-5a57-4ad0-ad8c-c15fc7bfccb6":  {
			"name": "Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/stories\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"df6e63ab-eff2-47ad-b228-0e9b9a295a0a":  {
			"name": "Driver",
			"description": "",
			"access": "1",
			"directory": "images",
			"download_mode": "0",
			"upload_extensions": "png,jpg,jpeg,doc,mp3,mov,avi,mpg,zip,rar,gz",
			"upload_directory": "images\/stories\/zoo\/uploads\/",
			"max_upload_size": "2048",
			"type": "download"
		},
		"74ef6e8a-a1e0-4763-a129-8bba9dce2704":  {
			"name": "Video",
			"description": "ID of YouTube Video",
			"access": "1",
			"directory": "images",
			"defaultwidth": "647",
			"defaultheight": "400",
			"defaultautoplay": "0",
			"type": "media"
		},
		"d2e585c0-cc1a-4816-8a41-147ff5ec44c7":  {
			"name": "Related Items",
			"description": "",
			"access": "1",
			"type": "autorelateditems"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}