.contentpaneopen {
    .field {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;

        span {
            display: block;
            font-weight: bold;
            font-size: 13px;
        }
        input[type="submit"] {
            margin-top: 20px;
            padding: 5px 25px;
        }
        input[type="text"] {
            height: 20px;
            margin-top: 3px;
            border-color: #aaa;
        }
        @media (max-width:991px) {
            margin-left: 0;
            margin-right: 10px;
        }
    }
    .field:first-child {
        margin-left: 0;
    }
    .chosen-single span {
        font-weight: normal;
    }
    table#gm-table-part-list {
        margin-top: 10px;
        border: 1px solid #ccc;
        width: 100%;

        .sectiontableheader {
            color: #FFFFFF;
            background: #2f7ecf;
            font-size: 12px;
            padding: 0 0 0 10px;
            line-height: 23px;
            height: 23px;
            font-weight: normal;
            border-left: 1px solid #ccc;
        }
        tr[class^="sectiontableentry"] {
            background: #fff;
            td {
                border-left: 1px solid #ccc;
                font-size: 13px;
                padding: 5px;
            }
            &:nth-child(odd) {
                background: #F2F2F2;
            }
        }
        .gm-quote {
            border: none;
            background: #2F7ECF;
            font-size: 11px;
            color: #FFF;
            padding: 1px 3px;
            cursor: pointer;
            text-decoration: none;
            text-align: center;
            display: block;

            &:hover {
                text-decoration: underline;
            }
        }
        @media (max-width:991px) {
            .sectiontableheader {
                padding: 0 0 0 5px;
            }
            tr[class^="sectiontableentry"] td {
                font-size: 12px;
            }
        }
    }
    .gm-part-toolbar {
        display: block;
        font-weight: bold;
        margin: 20px 0 10px;
        text-align: center;

        ul {
            list-style: none;
            padding: 0;

            li {
                float: left;
                margin: 5px;

                a.pagenav {
                    background: #2F7ECF;
                    color: #FFFFFF;
                    text-decoration: none;
                    display: inline;
                    height: 10px;
                    padding: 5px 8px;
                    width: 10px;
                }
            }
        }
    }
    @media (max-width:480px) {
        .contentpane {
            padding: 0 20px;

            #adminform {
                background: #000;
                padding: 15px 20px 20px;
                border-radius: 6px;

                h2 {
                    color: #006ab8;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    -o-font-smoothing: antialiased;
                    font-smoothing: antialiased;
                    text-align: center;
                    margin: 0;
                }
                .field {
                    display: block;
                    margin: 15px 0 0;

                    > span {
                        display: none;
                    }
                    span {
                        color: #000;
                    }
                    .chosen-container, input {
                        width: 100% !important;
                        margin: 0 !important;
                        height: 40px;
                    }
                    .chosen-container a.chosen-single, .chosen-container a.chosen-single span {
                        height: 40px !important;
                        line-height: 40px;
                        vertical-align: middle;
                        color: #767676;
                        font-size: 13px;
                        background: #fff;
                    }
                    .chosen-container b {
                        background-size: 300%;
                        background-position: 0px 10px
                    }
                    .chosen-container-active.chosen-with-drop b {
                        background-position: -18px 10px;
                    }
                    input[type="text"] {
                        border-radius: 5px;
                        color: #767676;
                        font-size: 13px;
                    }
                    input[type="submit"] {
                        .button-mobile-style;
                    }
                }
            }
        }
        .mobile-parts-list {
            padding: 30px 20px;

            .mobile-parts-item {
                border-top: 1px solid #dbdbdb;
                margin-top: 20px;
                padding-top: 20px;
                text-align: center;

                &:first-child {
                    border-top: 0;
                    margin-top: 0;
                    padding-top: 0;
                }
                table {
                    width: 100%;
                    text-align: left;

                    th, td {
                        padding: 0 4px 8px 0;
                        vertical-align: top;
                    }
                    th {
                        width: 20%;
                    }
                    td {
                        width:30%;
                        position: relative;
                        top: -1px;
                    }
                }
                table td, p {
                    font-size: 13px;
                    font-weight: bold;
                    line-height: 1em;
                    color: #006ab8;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    -o-font-smoothing: antialiased;
                    font-smoothing: antialiased;
                }
                table th, p span {
                    font-size: 11px;
                    font-weight: bold;
                    text-transform: uppercase;
                    line-height: 1em;
                    color: #000;
                }
                p {
                    line-height: 1.4em;
                    text-align: left;
                }
                a.btn {
                    margin-top: 15px;
                    text-transform: uppercase;
                    padding: 5px 40px;
                }
            }
            .gm-part-toolbar {
                overflow: hidden;
                margin: 10px auto;

                ul {
                    display: inline-block;

                    li {
                        font-size: 12px;
                        color: #000;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        -o-font-smoothing: antialiased;
                        font-smoothing: antialiased;

                        a.pagenav {
                            background: none;
                            font-size: 12px;
                            color: #006ab8;
                            padding: 0;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            -o-font-smoothing: antialiased;
                            font-smoothing: antialiased;
                        }
                    }
                }
            }
        }
    }
}
.quotebox {
    padding: 15px;
    margin-bottom: 15px;

    .quotebox-inner {
        .logobox {
            width: 100%;
            border-bottom: 2px solid #bdbdbd;
            margin-bottom: 10px;
        }
        h2 {
            color: #0066cc;
            font-size: 18px;
            font-weight: bold;
            margin: 0 0 10px;

            @media (max-width:767px) {
                font-size: 14px;
                text-transform: uppercase;
            }
        }
        p {
            font-size: 14px;
            line-height: 18px;
        }
        p:last-child {
            margin: 0;
        }
        h2 + .form_item .form_element {
            width: 100%;
            border-bottom: 2px solid #bdbdbd;
            margin-bottom: 15px;
            padding-bottom: 10px;
        }
        .form_item + .form_item {
            overflow: hidden;

            p {
                font-size: 12px;

                span {
                    color: red;
                }
            }
        }
        #userForm {
            li {
                margin: 5px 0;
            }
            .formCaption {
                display: block;
                float: left;
                width: 25%;
                color: #06c;
                font-size: 14px;
                line-height: 1.2em;
            }
            .formBody {
                input {
                    border: 1px solid #CACACA;
                    color: #000;
                    font-size: 14px;
                    padding: 4px;
                    height: 26px;
                }
            }
            .rsform-block-notes {
                margin-top: 20px;
            }
            .rsform-block-submit {
                width: 100%;
                text-align: center;

                #submit {
                    font-size: 12px;
                    padding: 3px 45px;
                    text-transform: lowercase;
                }
            }
            @media (max-width:991px) {
                .formCaption {
                    margin-bottom: 3px;
                }
                .rsform-block {
                    width: 100% !important;

                    input {
                        width: 100% !important;
                        height: 38px;
                    }
                }
                .rsform-block-notes textarea {
                    width: 100% !important;
                }
                .rsform-block-submit #submit {
                    .button-mobile-style;
                    display: block;
                    width: 100%;
                    text-transform: capitalize;
                }
            }
            @media (max-width:767px) {
                .rsform-block {
                    input {
                        border-radius: 6px;
                        margin-bottom: 15px;
                    }
                }
                .rsform-block-notes {
                    margin-top: 0;

                    textarea {
                        border-radius: 6px;
                    }
                }
                h2 {
                    margin: 5px 0;
                }
            }
        }
    }
}
.quotebox.dropshadow {
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
}