#gm-family-grid {
    .clear {
        clear: both;
    }
    .gm-box {
        .make-sm-column(4);
        padding: 5px 15px;
    }
    .gm-item {
        border: 1px solid #999;
        border-radius: 6px;
        text-align: center;
        padding: 0 10px 10px;

        a.gm-enlarge {
            display: inline-block;
            background: #2c85ed;
            color: #fff;
            text-transform: lowercase;
            font-size: 11px;
            line-height: 1em;
            padding: 3px 8px;
            border-radius: 2px;
            position:relative;
            top: -4px;
            margin-bottom: 5px;

            &:hover, &:focus {
                text-decoration: none;
            }
        }
        .gm-image-container {
            height: 100px;
        }
        .gm-name {
            color: #000;
            font-size: 12px;
            font-weight: bold;
            line-height: 18px;
        }
        .gm-description {
            font-size: 12px;

            @media (max-width:991px) and (min-width:768px) {
                min-height: 34px;
            }
        }
        .gm-description + div {
            font-size: 13px;

            .gm-price {
                color: #0066cc;
                font-weight: bold;
            }
        }
        a.buynow {
            margin: 10px auto 0;
        }
        @media (max-width:767px) {
            border: none;
            clear: both;
            overflow: hidden;
            padding: 20px 0;
            text-align: left;
            border-top: 1px solid #e6e6e8;
            border-radius: none;

            .gm-image-container {
                float: right;
                width: 140px;
                text-align: left;

                img {
                    height: 100%;
                    max-width: 136px;
                    background: #fff;
                    padding: 7px;
                    box-sizing: border-box;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                }
            }
            .gm-name {
                font-size: 17px;
            }
            .gm-description + div {
                font-size: 13px;
                text-transform: uppercase;
                font-weight: bold;
                margin: 15px 0 17px;

                .gm-price {
                    font-size: 13px;
                }
            }
            a.buynow {
                background: #0066cc;
                border: 1px solid #0059b3;
                text-transform: uppercase;
                font-size: 14px;
                padding: 5px 35px;
                margin: 0;

                &:hover, &:focus {
                    background: #0052a3;
                    border-color: #003b75;
                }
            }
        }
    }
    h2 + .gm-box .gm-item {
        @media (max-width:767px) {
            border-top: none;
        }
    }
    .gm-box {
        @media (max-width:767px) {
            padding: 0;
        }
    }
}