#rounded0 div.t,#rounded0 div.b {
	height: 6px;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#rounded0 div.m {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 0 8px;
}

#rounded0 div.t {
	background: url(../images/j_border.png) 0 0 repeat-x;
}

#rounded0 div.t div.t {
	background: url(../images/j_crn_tr_light.png) 100% 0 no-repeat;
}

#rounded0 div.t div.t div.t {
	background: url(../images/j_crn_tl_light.png) 0 0 no-repeat;
}

#rounded0 div.b {
	background: url(../images/j_border.png) 0 100% repeat-x;
}

#rounded0 div.b div.b {
	background: url(../images/j_crn_br_light.png) 100% 0 no-repeat;
}

#rounded0 div.b div.b div.b {
	background: url(../images/j_crn_bl_light.png) 0 0 no-repeat;
}

div#rounded1 {
	background: #f7f7f7;
}

#rounded1 div.t,#rounded1 div.b {
	height: 6px;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#rounded1 div.m {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 0 8px;
}

#rounded1 div.t {
	background: url(../images/j_border.png) 0 0 repeat-x;
}

#rounded1 div.t div.t {
	background: url(../images/j_crn_tr_dark.png) 100% 0 no-repeat;
}

#rounded1 div.t div.t div.t {
	background: url(../images/j_crn_tl_dark.png) 0 0 no-repeat;
}

#rounded1 div.b {
	background: url(../images/j_border.png) 0 100% repeat-x;
}

#rounded1 div.b div.b {
	background: url(../images/j_crn_br_dark.png) 100% 0 no-repeat;
}

#rounded1 div.b div.b div.b {
	background: url(../images/j_crn_bl_dark.png) 0 0 no-repeat;
}

dd.twitterdd {
	margin-left: 0 !important;
	overflow: hidden;
	padding-left: 15px;
	position: relative;
	top: -5px;
	width: 100%;
}

.jstwitter {
	margin: 0 90px 0 0;
	/*border: 1px solid red;*/
	width: 99%;
}

.jstwitter {
	float: left;
	margin: 0 30px 0 0;
	position: relative;
}

.jstwitter b.twb {
	background: transparent url(../images/bablyas5a.gif) no-repeat scroll
		left top;
	display: inline-block;
	font-size: 0;
	height: 13px;
	line-height: 0;
	margin: 25px 0 0 -10px;
	position: absolute;
	width: 11px;
	z-index: 10;
}

.jstwitter div.twdiv {
	background: transparent url(../images/bablyas2.gif) no-repeat scroll
		right top;
	height: 5px;
	position: absolute;
	width: 100%;
	z-index: 5;
}

.jstwitter div.twdiv i {
	background: transparent url(../images/bablyas1.gif) no-repeat scroll
		left bottom;
	display: inline-block;
	font-size: 0;
	height: 5px;
	line-height: 0;
	width: 5px;
}

.jstwitter dl {
	background-color: #F2F2F2;
	border: 1px solid #E0E1E2;
	margin: 0;
	padding: 5px;
	position: relative;
}

.jstwitter dt {

}

.jstwitter dd {
	margin: 0;
}

p.twp {
	margin: 0;
	padding: 0;
}

.jstwitter p.twp {
	background: transparent url(../images/bablyas4.gif) no-repeat scroll
		right top;
	height: 5px;
	margin-top: -5px;
	position: absolute;
	width: 100%;
	z-index: 5;
}

.jstwitter p.twp i {
	background: transparent url(../images/bablyas3.gif) no-repeat scroll
		left bottom;
	display: inline-block;
	font-size: 0;
	height: 5px;
	line-height: 0;
	width: 5px;
}

 /* Additional*/
.intro {
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.intro td {
	border-left: 1px solid #ccc;
}

.seachbox {
	width: 250px;
	height: 18px;
	background: #efefef;
	padding: 5px;
	border: 0px solid;
}
.seachbutton {
	height: 28px;
	vertical-align: top;
	padding: 0;
	border: 0px solid;
}
#component h2 {
	color: #2f7ecf;
	width: 50%;
}
#component .goback {
	float: right;
	text-align: right;
	width: 50%;
}
.goback a:hover, .goback a:link, .goback a:visited {
	color: #2f7ecf;
	line-height: 22px;
	font-size: 14px;
}
.sectiontableheader{
	color: #FFFFFF;
	background: #2f7ecf;
	font-size: 12px;
	padding-left: 10px;
	line-height: 23px;
	height: 23px;
}
.sectiontableheader a:hover, .sectiontableheader a:link, .sectiontableheader a:visited {
	color: #ffffff;
}
.sectiontableentry1 {
	background: #F2F2F2;
}
.sectiontableentry2{
	background: #FFFFFF;
}
.sectiontableentry1 td, .sectiontableentry2 td {
	padding: 5px;
}
.request {
	height: 30px;
	background: transparent url(../images/tmpl/button.png) center no-repeat;
}
.detalails {
	background: #FFFFFF;
	padding: 10px;
	border: 1px solid #999999;
	border-top: 0px solid;
}
.detalails table.js_content {
	border-spacing: 0px;
	border: 0px solid;
}
.detalails table.js_content td {
	color: #2f7ecf;
	border: 0px solid;
	padding: 5px 5px 5px 5px;
}
.detalails table.js_content td.js_key {
	padding-left: 10px;
	color: #000000;
	font-weight: normal;
	border: 0px solid;
	padding: 5px 5px 5px 10px;
}
.request a:hover, .request a:link, .request a:visited {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration:none;
}

.contacthead {
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	margin: 10px 0;
}

.contactat {
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}

.contactblue {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	color: #2f7ecf;
}
table.gm-search  {
	margin-top: 10px;
	margin-bottom: 10px;
}

table.gm-search  th,
table.gm-search  td{
	text-align: left;
	padding-left: 10px;
}
.nopad {
	padding: 0 !important;
}
.gm-quote {
	border: none;
	background: #2F7ECF;
	font-size: 11px;
	color: #FFF;
	padding: 3px;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	display: block;
}
div.gm-part-toolbar {
	display:block;
	font-weight:bold;
	margin:20px 0 10px;
	text-align:center;
}
div.gm-part-toolbar li {
	float:left;
	margin:5px;
}
div.gm-part-toolbar a.pagenav {
	background:#2F7ECF;
	color:#FFFFFF;
	text-decoration: none;
	display:inline;
	height:10px;
	padding:5px 8px;
	width:10px;
}
.no-results {
	display:block;
	font-size:14px;
	font-style:italic;
	font-weight:bold;
	padding-top:20px;
	text-align:center;
}

.quotebox {
    box-shadow: 0 0 5px #999;
    margin-bottom:15px;
    padding:15px;
}
.quotebox-inner * {
    font-size:14px;
}
.quotebox-form-wrap input,
.quotebox-form-wrap textarea {
    padding:4px;
}
.quotebox-form-wrap label,
.quotebox-form-wrap .formCaption {
    color:#06c;
}
.quotebox-form-wrap li {
    width:50%
}
