 {
	"product.product.feed":  {
		"description":  {
			"0":  {
				"altlabel": "",
				"display": "all",
				"element": "beab45eb-b32a-4766-822d-b3fb72b5b1d4",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			},
			"1":  {
				"altlabel": "",
				"display": "all",
				"element": "83ba7366-d126-40f0-923e-3e7a94f0e773",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			}
		}
	},
	"product.product.full":  {
		"bottom":  {
			"0":  {
				"altlabel": "",
				"element": "_itemtag",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"showlabel": "1"
			},
			"1":  {
				"altlabel": "Share this product",
				"element": "00e1df62-828d-42f5-a1a6-a89d553d4934",
				"showlabel": "1"
			}
		},
		"description":  {
			"0":  {
				"altlabel": "",
				"element": "fff9519f-3b36-4df5-8722-17db9f2ea31c",
				"rating_disabled": "0",
				"show_message": "1",
				"showlabel": "0"
			},
			"1":  {
				"altlabel": "",
				"display": "all",
				"element": "83ba7366-d126-40f0-923e-3e7a94f0e773",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "1"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"element": "246e955a-5a57-4ad0-ad8c-c15fc7bfccb6",
				"height": "",
				"link_to_item": "0",
				"showlabel": "0",
				"width": ""
			},
			"1":  {
				"altlabel": "",
				"count": "0",
				"effect": "fade",
				"element": "08416e3c-059f-4f0c-bbb1-82b871d1c021",
				"height": "0",
				"mode": "slideshow",
				"order": "asc",
				"resize": "1",
				"showlabel": "0",
				"spotlight": "0",
				"thumb": "default",
				"width": "90"
			}
		},
		"related":  {
			"0":  {
				"altlabel": "",
				"element": "64c188a6-cf2f-4895-8879-8b67a58b6780",
				"layout": "related",
				"link_to_item": "0",
				"order": "hits",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "1"
			}
		},
		"title":  {
			"0":  {
				"altlabel": "",
				"element": "_itemname",
				"link_to_item": "0",
				"showlabel": "0"
			}
		}
	},
	"product.product.related":  {
		"description":  {
			"0":  {
				"altlabel": "",
				"display": "all",
				"element": "beab45eb-b32a-4766-822d-b3fb72b5b1d4",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			}
		},
		"links":  {
			"0":  {
				"altlabel": "",
				"element": "_itemlink",
				"showlabel": "0"
			},
			"1":  {
				"altlabel": "",
				"element": "_itemcommentslink",
				"multiple_comments_text": "Feedback (%s)",
				"no_comments_text": "Leave Feedback",
				"showlabel": "0",
				"single_comment_text": "Feedback (%s)"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"element": "c0794696-a5d2-4df9-b20f-f23b0f94a41b",
				"height": "",
				"link_to_item": "1",
				"showlabel": "0",
				"width": "100"
			}
		},
		"title":  {
			"0":  {
				"altlabel": "",
				"element": "_itemname",
				"link_to_item": "1",
				"showlabel": "0"
			}
		}
	},
	"product.product.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "83ba7366-d126-40f0-923e-3e7a94f0e773"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "f765599e-e8bb-437d-9329-a7ee6a71347b"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "4fbb144e-79cf-439a-8c3e-d89663c8131c"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "30ee11c5-0d02-424c-8ad5-dc6aa8f733ab"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "246e955a-5a57-4ad0-ad8c-c15fc7bfccb6"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "74ef6e8a-a1e0-4763-a129-8bba9dce2704"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "df6e63ab-eff2-47ad-b228-0e9b9a295a0a"
			}
		},
		"meta":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "64c188a6-cf2f-4895-8879-8b67a58b6780"
			}
		}
	},
	"product.product.teaser":  {
		"description":  {
			"0":  {
				"altlabel": "",
				"element": "fff9519f-3b36-4df5-8722-17db9f2ea31c",
				"rating_disabled": "1",
				"show_message": "0",
				"showlabel": "0"
			},
			"1":  {
				"altlabel": "",
				"display": "all",
				"element": "beab45eb-b32a-4766-822d-b3fb72b5b1d4",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			}
		},
		"links":  {
			"0":  {
				"altlabel": "",
				"element": "_itemlink",
				"showlabel": "0"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"element": "c0794696-a5d2-4df9-b20f-f23b0f94a41b",
				"height": "",
				"link_to_item": "1",
				"showlabel": "0",
				"width": ""
			}
		},
		"title":  {
			"0":  {
				"altlabel": "",
				"element": "_itemname",
				"link_to_item": "1",
				"showlabel": "0"
			}
		}
	},
	"posrg.product.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "300",
				"height": "",
				"link_to_item": "1",
				"element": "246e955a-5a57-4ad0-ad8c-c15fc7bfccb6"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "Related Items",
				"order": "random",
				"separated_by": "tag=[<li>%s<\/li>] enclosing_tag=[<ul>%s<\/ul>]",
				"layout": "",
				"link_to_item": "1",
				"limit": "2",
				"element": "d2e585c0-cc1a-4816-8a41-147ff5ec44c7"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Manufacturer",
				"linked": "1",
				"separated_by": "separator=[ ]",
				"element": "e118f82d-db14-41d8-b086-75ce0390a022"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "Model Number",
				"separated_by": "separator=[ ]",
				"link_to_item": "1",
				"element": "f64a39d0-9b8f-4a84-ac90-19744a889cdb"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "Category",
				"linked": "1",
				"separated_by": "separator=[ ]",
				"element": "_itemcategory"
			}
		},
		"buttons":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "9e3a55c8-1464-41b0-8c8e-f4718a22538d"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "ea1e3fa3-e38d-440d-8ca0-e3a6ee0037cc"
			}
		},
		"features":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<li>%s<\/li>] enclosing_tag=[<ul>%s<\/ul>]",
				"link_to_item": "0",
				"element": "4fbb144e-79cf-439a-8c3e-d89663c8131c"
			}
		},
		"specification":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "default",
				"download_name": "Download {filename}",
				"element": "df6e63ab-eff2-47ad-b228-0e9b9a295a0a"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "30ee11c5-0d02-424c-8ad5-dc6aa8f733ab"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"element": "74ef6e8a-a1e0-4763-a129-8bba9dce2704"
			}
		}
	},
	"posrg.product.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "f64a39d0-9b8f-4a84-ac90-19744a889cdb"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "ea1e3fa3-e38d-440d-8ca0-e3a6ee0037cc"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "4fbb144e-79cf-439a-8c3e-d89663c8131c"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "246e955a-5a57-4ad0-ad8c-c15fc7bfccb6"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "74ef6e8a-a1e0-4763-a129-8bba9dce2704"
			}
		},
		"meta":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "30ee11c5-0d02-424c-8ad5-dc6aa8f733ab"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "df6e63ab-eff2-47ad-b228-0e9b9a295a0a"
			}
		}
	},
	"posrg.product.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "0",
				"separated_by": "separator=[ ]",
				"element": "e118f82d-db14-41d8-b086-75ce0390a022"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "first",
				"element": "ea1e3fa3-e38d-440d-8ca0-e3a6ee0037cc"
			}
		},
		"specification":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"link_to_item": "1",
				"element": "f64a39d0-9b8f-4a84-ac90-19744a889cdb"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "0",
				"separated_by": "separator=[ ]",
				"element": "_itemcategory"
			}
		}
	}
}